.popup__button-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -38px;
  right: -38px;
  background-image: url(../../../image-sprint-4/CloseIcon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: opacity .5s ease;
}

.popup__button-close:hover {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}